<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div>
        <h5>Octagon Global</h5>
        <p><%= link_to "Team", about_path %></p>
        <p><%= link_to "About", about_path %></p>
        <p><%= link_to "FAQ", about_path %></p>
        <p><%= link_to "info@octagon-global.com", about_path %></p>
      </div>
      <div>
        <h5>Follow</h5>
        <p><%= link_to "Instagram", about_path %></p>
        <p><%= link_to "Facebook", about_path %></p>
        <p><%= link_to "pnkedIn", about_path %></p>
        <p><%= link_to "YouTube", about_path %></p>
      </div>
      <div>
        <h5>Legal</h5>
        <p><%= link_to "Statutes", about_path %></p>
        <p><%= link_to "Disclaimer", about_path %></p>
        <p><%= link_to "Statements", about_path %></p>
      </div>
    </div>
    <p>© 2023 Octagon | All Rights Reserved</p>
  </div>
</footer>
